main {
    height: fit-content;
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em 0em;
}

.admin-section {
    width: 100%;
    background-color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 20px;
    width: 50%;
    max-width: 100%;
}

.admin-section>h2 {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 1em;
}

.admin-section> :nth-child(2) {
    margin-left: 2em;
}

.input-field,
.admin-section>select,
.admin-section>input[type="button"] {
    background-color: #f3f3f3;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 0em 1em;
}

.admin-section>input[type="button"] {

    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.admin-section>input[type="button"]:hover {
    background-color: #f3f3f3;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.invalid-input {
    border: 2px solid rgba(255, 0, 0, 0.5);
}

.fa-check {
    color: green;
    transform: rotate(10deg, 10deg);
    transition: 0.5s ease-in-out;
}

.hidden {
    width: 0;
}

@media screen and (max-width: 60em) {
    .admin-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
    }
}