body{
    background-color: var(--light-color);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
a{
    text-decoration: none;
}

.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    margin: 0 auto;
    padding: 2em;
}
.cart-header{
    width: 90%;
    padding: 2em 3.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-header > i{
    font-size: 1.3em;
    margin-right: 1em;
}

.cart-content{
    height: 50%;
    min-width: 50%;
    max-width: fit-content;
    overflow: scroll;
    margin-bottom: 1em;
}
.card-total-container{
    width: 50%;
    padding: 1em;
    border-top: 2px solid black;
    padding-bottom: 3em;
    display: flex;
    flex-direction: row;
}
.card-total-container > span{
    width: 50%;
    padding: 1em;
}
.card-total-container > span:last-child{
    text-align: end;
}

.cart-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-footer > a{
    background-color: var(--secondary-color);
    border: 0;
    outline: 0;
    color: white;
    border-radius: 8px;
    padding: 1em 2em;
    cursor: pointer;
}

.cart-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
    padding: 1em;
}
.cart-item > img{
    width: 5em;
    height: 5em;
}
.item-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
    row-gap: 5px;
}
.item-info > span:first-child{
    font-size: 1.1em;
}
.item-info > span:last-child{
    height: max-content;
    opacity: 0.4;
    margin-left: 5px;
}

.cart-item > span:last-child{
    text-align: end;
    text-wrap: nowrap;
}
.item-eliminate{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    cursor: pointer;
}

.item-discount{
    width: 100%;
    text-align: right;
    text-wrap: nowrap;
    opacity: 0.4;
}

.cart-empty{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0em;
}
.cart-empty > i{
    font-size: 5em;
}
.cart-empty > span{
    text-align: center;
    padding: 2em 0em;
    font-size: 1.5em;
}
